ul{
    list-style-type: none;
}

ul li{
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 30px;
}

h2{
    margin: 40px;
}

button{
    margin: 10px;
    width: 100px;
    border-radius: 5px;
    height: 35px;
    background-color: rgb(246, 246, 246);
}

#contP{
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center
}

#contH{
    width: 600px;
    background-image:linear-gradient(rgb(242, 251, 251),rgb(222, 255, 253),rgb(211, 255, 252));
    border: solid 2px rgb(202, 223, 220);
}
